.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 56px;
  gap: 42px 0px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.main {
  grid-area: main;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  height: 64px;
  background: #f9f9fa;
  padding: 20px 0px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #a7a7a7;
}

.navigation a::after {
  position: absolute;
  display: flex;
  top: 0;
  right: -28px;
  content: '/';
  width: 24px;
  height: 24px;
  color: #a7a7a7;
  align-items: baseline;
  justify-content: center;
}

.navigation nav {
  height: 24px;
  display: flex;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
}

.navigation a {
  position: relative;
}

.nav_title {
  margin-left: 32px;
}

.container {
  width: 1110px;
  margin: 42px auto 0px;
}

.promo {
  display: flex;
  column-gap: 30px;
}

.image {
  width: 445px;
  height: 594px;
}

.image img {
  border: 1px solid #a7a7a7;
  border-radius: 10px;
}

.information {
  width: 635px;
}

.information button,
.reviews button {
  margin-top: 32px;
  width: 350px;
  height: 52px;
  border-radius: 30px;
  font-size: 1rem;
}

.title span {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #363636;
}

.author {
  margin-top: 24px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #a7a7a7;
}

.description {
  margin-top: 62px;
}

.description p {
  margin-top: 32px;
}

.description_title {
  display: block;
  width: 350px;
  border-bottom: 1px solid #f9f9fa;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #363636;
}

.rating {
  max-width: 350px;
  margin-top: 42px;
}

.rating_content {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.rating_content > div {
  width: 168px;
  column-gap: 16px;
}

.rating_content span {
  margin-left: 24px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #363636;
}

.details {
  max-width: 1110px;
  margin-top: 62px;
}

.details_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.group_one,
.group_two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
  width: 100%;
  max-width: 329px;
}

.group_one > div > h4,
.group_two > div > h4 {
  width: 120px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #a7a7a7;
}

.group_one > div,
.group_two > div {
  display: flex;
  column-gap: 70px;
}

.group_two {
  max-width: 635px;
}

.group_two > div > h4 {
  width: 118px;
}

.group_two > div {
  column-gap: 72px;
}

.reviews {
  margin-top: 62px;
}

.description_title > span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #a7a7a7;
  padding-left: 6px;
}

.reviews .description_title {
  margin-bottom: 16px;
}

.reviews button {
  margin: 0 auto;
  width: 350px;
  height: 52px;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
