$primary: #363636;
$smal-inactive: #a7a7a7;

/* Window cards styles */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 190px;
  height: 470px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover,
.card_list:hover {
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px auto 0px;
  width: 174px;
  height: 242px;
  background: #f9f9fa;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
}

.image img {
  width: 174px;
  height: 242px;
}

img.image_error {
  width: 48px;
  height: 48px;
}

.content {
  margin: 0 auto;
}

.rating {
  margin-top: 18px;
  width: 144px;
  height: 19px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: $smal-inactive;
}

.text {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 19px;
}

.title {
  display: flex;
  align-items: center;
  width: 174px;
  height: 54px;
}

.title span {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: $primary;
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  vertical-align: middle;
}

.author {
  width: 174px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #727272;
}

/* List cards styles */
.card_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 16px;
  width: 100%;
  max-width: 825px;
  height: 218px;
  padding: 24px 24px 24px 16px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 12px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.image_list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9fa;
  border: 1px solid $smal-inactive;
  border-radius: 3px;
  width: 120px;
  height: 170px;
}

.image_list img {
  width: 120px;
  height: 170px;
}

.image_list img.image_error {
  width: 32px;
  height: 32x;
}

.content_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 649px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.rating_list {
  margin-top: 34px;
  width: 144px;
  height: 24px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #a7a7a7;
  order: 2;
}

.text_list {
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  order: 1;
}

.title_list {
  width: 100%;
}

.title_list span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #363636;
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  vertical-align: middle;
}

.author_list {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #727272;
}
.content_list button {
  margin: 24px 0 0 0;
  order: 3;
}

@media (max-width: 992.02px) {
  .text {
    margin-top: 28px;
    height: 71px;
  }
  .title span,
  .author {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.125rem;
    -webkit-line-clamp: 2;
  }
  .author {
    text-transform: uppercase;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    vertical-align: middle;
  }
  .content button {
    margin: 28px auto 0px;
  }
  .card_list {
    height: 240px;
    padding: 16px 24px 16px 16px;
  }
  .image_list {
    height: 172px;
  }
  .image_list img {
    height: 172px;
  }
  .text_list {
    height: auto;
  }
  .title_list {
    height: auto;
  }
  .author_list {
    margin-top: 8px;
  }
  .rating_list {
    margin-top: 26px;
  }
  .content_list button {
    margin: 16px 0 0 0;
  }
}

@media (max-width: 576.02px) {
  .card {
    width: 288px;
  }
  .content {
    width: 256px;
  }
  .text {
    margin-top: 19px;
    height: auto;
  }
  .title {
    width: 100%;
    height: auto;
    align-items: flex-start;
  }
  .title span {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
    -webkit-line-clamp: 3;
  }
  .author {
    width: 100%;
    height: auto;
    margin-top: 8px;
    text-transform: none;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
    -webkit-line-clamp: 2;
  }
  .content button {
    margin: 0 auto;
    position: absolute;
    bottom: 16px;
    width: 256px;
    height: 40px;
    border-radius: 20px;
  }
  .card_list {
    height: auto;
    padding: 16px 16px 16px 8px;
    column-gap: 8px;
  }
  .image_list,
  .image_list img {
    width: 70px;
    height: 100px;
  }
  .title_list span {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  .author_list,
  .rating_list {
    margin-top: 3px;
  }
  .author_list {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .rating_list,
  .rating_list > div {
    width: 104px;
    height: 12.97px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .rating_list > div {
    padding: 0 1.33px;
    column-gap: 8.67px;
  }
  .rating_list > div label,
  .rating_list > div label::before,
  .rating_list > div label:hover:before,
  .rating_list > div label:hover ~ label:before,
  .rating_list > div input:checked ~ label:before {
    width: 13.33px;
    height: 12.67px;
    background-position: center;
    background-size: cover;
  }
  .content_list button {
    width: 186px;
    margin: 18px 0 0 0;
  }
}
