$primary: #363636;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
  height: 56px;
  grid-area: footer;
  border-top: 1px solid #bfc4c9;
}

.company span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $primary;
}

.social ul {
  display: flex;
  column-gap: 24px;
}

.facebook,
.instagram,
.vkontakte,
.linkedin {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.facebook {
  background-image: url('../../../resources/icon-social-fb.svg');
}
.instagram {
  background-image: url('../../../resources/icon-social-inst.svg');
}
.vkontakte {
  background-image: url('../../../resources/icon-social-vk.svg');
}
.linkedin {
  background-image: url('../../../resources/icon-social-linkedin.svg');
}

@media (max-width: 992.02px) {
  .footer {
    max-width: 640px;
  }
}

@media (max-width: 576.02px) {
  .footer {
    flex-direction: column;
    height: 105px;
  }
  .company {
    width: 215px;
    margin-top: 16px;
    text-align: center;
  }
  .company span {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }
  .social {
    margin-top: 16px;
  }
}
