.header {
  grid-area: header;
  max-width: 1110px;
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  height: 58px;
  margin-top: 32px;
}

.logo,
.authorization {
  cursor: pointer;
}

.burger_menu {
  display: none;
  width: 32px;
  height: 32px;
  background-image: url('../../../resources/icon-burger-menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-left: 126px;
  margin-right: auto;
}

.authorization {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  column-gap: 16px;
}

.welcome {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

@media (max-width: 576.02px) {
  .header {
    margin: 0 auto;
    height: 76px;
    padding: 24px 0px;
  }
  .logo,
  .authorization {
    display: none;
  }
  .title {
    font-size: 1.125rem;
    margin: 0px 0px 0px 24px;
  }
  .burger_menu {
    display: block;
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 576.02px) and (max-width: 992.02px) {
  .header {
    max-width: 640px;
    margin: 0 auto;
    height: 94px;
    padding: 32px 0px 24px 0px;
  }
  .logo,
  .authorization {
    display: none;
  }
  .title {
    margin: 0px 0px 0px 24px;
  }
  .burger_menu {
    display: block;
  }
}
