.review {
  margin-bottom: 42px;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.name,
.date {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #727272;
}

.rating {
  margin-top: 16px;
}

.rating > div {
  width: 168px;
  column-gap: 16px;
}

.feedback {
  margin-top: 19px;
}

.feedback p {
  width: 100%;
  max-width: 730px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #363636;
}
