.input {
  display: none;
}

.label {
  position: relative;
  width: 20px;
  height: 19px;
  color: #ffbc1f;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.label::before {
  content: '';
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('../../../resources/icon-star.svg');
}

.label:hover:before,
.label:hover ~ .label:before {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('../../../resources/icon-star-active.svg');
}

.input:checked ~ .label:before {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('../../../resources/icon-star-active.svg');
}
