.wrapper {
  position: relative;
  width: 100%;
  max-width: 1110px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 279px 825px;
  grid-template-rows: 90px 1fr 56px;
  gap: 0px 6px;
  grid-template-areas:
    'header header'
    'menu main'
    'menu main'
    'footer footer';
}

.main {
  grid-area: main;
  width: 825px;
  margin-top: 62px;
  padding-bottom: 62px;
}
